.toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 48px;
  margin-bottom: 1em;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inline-styles-container {
  display: flex;
}

.toolbar-item {
  border: 1px solid #f1f1f1;
  min-width: 25px;
  height: 25px;
  border-radius: 2px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  text-transform: capitalize;
  font-size: 15px;
  user-select: none;

  &:hover {
    transform: translateY(1px);
    color: #34495e;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #34495e;
  }

  &.active {
    transform: translateY(1px);
    color: #34495e;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #34495e;
  }
}

.image-upload-wrapper {
  position: relative;

  .image-uploader {
    position: absolute;
    background: #fff;
    padding: 1em;
    right: 0;
    top: 30px;
    border-radius: 5px;
    border: 1px solid #bbb;
    width: 300px;
    z-index: 10;

    .field-group {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        padding: 5px;
      }
    }

    .add-to-document-btn {
      background-color: transparent;
      width: 100%;
      border: 1px solid #0b0b0b;
      border-radius: 5px;
      margin-top: 1em;
      padding: 0.5em;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
